-------- Service Name --------
LifeLabs
------------------------------
----- Client Private Key -----
AAoGBAIg24M8Ca7LHrI78Z8XIowKSwsadfa7sohJ3v+Uuv87Ea7asBANSLK/qmN1P5OBEILybLPQTIYzq+5HNfSQjC2Rd/XQfzsrm8p
------------------------------
------ Oscar Public Key ------
AQUAA4GNADCBiQKBgQDSSDC/tNBx9i7sWf+mvOqOfssdafwd/wBbRWRp7n3hsdfghfKKatyblNAOtqcQIDAQAB
------------------------------